Xcursor.size: 20

! special
*.foreground:   #ffffff
*.background:  	#1f1f2b
*.cursorColor:  #ffffff

! black
*.color0:       #2e3436
*.color8:       #555753

! red
*.color1:       #f54934
*.color9:       #ff0001

! green
*.color2:       #7de676
*.color10:      #47d467

! yellow
*.color3:       #ecc556
*.color11:      #deab11

! blue
*.color4:       #5700bc
*.color12:      #601ab0

! magenta
*.color5:       #af69b2
*.color13:      #aa49ad

! cyan
*.color6:       #1c98d5
*.color14:      #41afe5

! white
*.color7:       #e3e7de
*.color15:      #eeeeec
