Xcursor.size: 20

! special
*.foreground:   #effbff
*.background:   #282c34
*.cursorColor:  #effbff

! black
*.color0:       #000000
*.color8:       #222222

! red
*.color1:       #ffa3a3
*.color9:       #ff6360

! green
*.color2:       #89e19e
*.color10:      #77ff60

! yellow
*.color3:       #fbdf90
*.color11:      #f1de7f

! blue
*.color4:       #7733ee
*.color12:      #7733ee

! magenta
*.color5:       #9054ff
*.color13:      #9054ff

! cyan
*.color6:       #6b90ff
*.color14:      #6b90ff

! white
*.color7:       #effbff
*.color15:      #effbff

*.color17:      #6600cc
